<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <div id="app">

    <!-- header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">VueSuperShop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    <% if(auth) { %>
                    <li class="nav-item">
                        <a href="/?auth=true&guest=false&sender=<%= touser.split('@')[0] %>">
                            Домой
                        </a>
                    </li>
                    <% } else{ %>  
                    <li class="nav-item">
                        <a href="/users/login">
                            Вход
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a href=/users/register>
                            Регистрация
                        </a>
                    </li>
                    <% } %>
                    <% if(auth) { %>
                        <li>
                            <span class="badge bg-primary"><%= touser.split('@')[0]  %></span>
                        </li>
                        <li>
                            <span class="badge bg-primary"><a class="badge bg-primary" href="/users/logout">Выйти</a></span>
                        </li>
                    <% } else{ %>  
                        
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
        
        
        <p>Группы: </p>
        <% if(allGroups != null && allGroups.length >= 1) { %>
            <% allGroups.forEach(function(group) { %>
                <div class="card">
                    <h5 class="card-header">
                        <% if (auth){ %>
                            <a href="/users/groups?groupname=<%= group.name %>&groupdescription=<%= group.description %>&groupaccess=<%= group.access %>&imageurl=<%= group.imageurl %>&touser=<%= touser %>"><%= group.name %></a>
                        <% } else { %>
                            <a href="#"><%= group.description %></a>
                        <% } %>
                        
                    </h5>
                    <div class="card-body">
                      <h5 class="card-title"><%= group.access %></h5>
                      <!-- <a href="/users/groups/partisipants/add?groupname=<%= group.name  %>&groupdescription=<%= group.description  %>&groupaccess=<%= group.access  %>&touser=<%= touser %>">Вступить в группу</a> -->
                      <!-- <a href="/users/groups/partisipants/delete?groupname=<%= group.name  %>&groupdescription=<%= group.description  %>&groupaccess=<%= group.access  %>&  touser=<%= touser %>">Выйти из группы</a> -->
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div> 
                  </div>
            <% }); %>
        <% } else {%>
            <p>Групп нет</p>    
        <% } %>

        <p>Группы которые вы создали</p>  
        <% if(hasGroups != null && hasGroups.length >= 1) { %>
            <% hasGroups.forEach(function(group) { %>
                <div class="card">
                    <h5 class="card-header">
                        <% if (auth){ %>
                            <a href="/users/groups?groupname=<%= group.name %>&groupdescription=<%= group.description %>&groupaccess=<%= group.access %>&imageurl=<%= group.imageurl %>&touser=<%= touser %>"><%= group.name %></a>
                        <% } else { %>
                            <a href="#"><%= group.description %></a>
                        <% } %>
                        
                    </h5>
                    <div class="card-body">
                      <h5 class="card-title"><%= group.access %></h5>
                      <!-- <a href="/users/groups/partisipants/add?groupname=<%= group.name  %>&groupdescription=<%= group.description  %>&groupaccess=<%= group.access  %>&touser=<%= touser %>">Вступить в группу</a> -->
                      <p>Вы уже в группе</p>
                      <!-- <a href="/users/groups/partisipants/delete?groupname=<%= group.name  %>&groupdescription=<%= group.description  %>&groupaccess=<%= group.access  %>&  touser=<%= touser %>">Выйти из группы</a> -->
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div> 
                  </div>
            <% }); %>
        <% } else {%>
            <p>Групп нет</p>    
        <% } %>
 

        <p>Группы которые вы не создали</p>  
        <% if(notHasGroups != null && notHasGroups.length >= 1) { %>
            <% notHasGroups.forEach(function(group) { %>
                <div class="card">
                    <h5 class="card-header">
                        <% if (auth){ %>
                            <a href="/users/groups?groupname=<%= group.name %>&groupdescription=<%= group.description %>&groupaccess=<%= group.access %>&imageurl=<%= group.imageurl %>&touser=<%= touser %>"><%= group.name %></a>
                        <% } else { %>
                            <a href="#"><%= group.description %></a>
                        <% } %>
                        
                    </h5>
                    <div class="card-body">
                      <h5 class="card-title"><%= group.access %></h5>
                      <!-- <a href="/users/groups/partisipants/add?groupname=<%= group.name  %>&groupdescription=<%= group.description  %>&groupaccess=<%= group.access  %>&imageurl=<%= group.imageurl %>&touser=<%= touser %>">Вступить в группу</a> -->
                      <p>Вы ещё не в группе</p>
                      <!-- <a href="/users/groups/partisipants/delete?groupname=<%= group.name  %>&groupdescription=<%= group.description  %>&groupaccess=<%= group.access  %>&  touser=<%= touser %>">Выйти из группы</a> -->
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div> 
                  </div>
            <% }); %>
        <% } else {%>
            <p>Групп нет</p>    
        <% } %>

        <p>Группы в которые вы вступили</p>  
        <% if(allGroupsWithPartisipants != null && allGroupsWithPartisipants.length >= 1) { %>
            <% allGroupsWithPartisipants.forEach(function(group) { %>
                <div class="card">
                    <h5 class="card-header">
                        <% if (auth){ %>
                            <a href="/users/groups?groupname=<%= group %>&groupdescription=<%= 'group.description' %>&groupaccess=<%= 'group.access' %>&imageurl=<%= 'empty' %>&touser=<%= touser %>"><%= group.name %></a>
                        <% } else { %>
                            <a href="#"><%= group.description %></a>
                        <% } %>
                        
                    </h5>
                    <div class="card-body">
                      <h5 class="card-title"><%= group.access %></h5>
                      <p>Вы участник этой группы</p>
                      <!-- <a href="/users/groups/partisipants/add?groupname=<%= group.name  %>&groupdescription=<%= group.description  %>&groupaccess=<%= group.access  %>&imageurl=<%= group.imageurl %>&touser=<%= touser %>">Вступить в группу</a> -->
                      
                      <a href="/users/groups/partisipants/delete?groupname=<%= group.name  %>&groupdescription=<%= group.description  %>&groupaccess=<%= group.access  %>&imageurl=<%= group.imageurl%>&touser=<%= touser %>">Выйти из группы</a>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div> 
                  </div>
            <% }); %>
        <% } else {%>
            <p>Групп нет</p>    
        <% } %>

        <p>Группы в которые вы не вступили</p>  
        <% if(allGroupsWithoutPartisipants != null && allGroupsWithoutPartisipants.length >= 1) { %>
            <% allGroupsWithoutPartisipants.forEach(function(group) { %>
                <div class="card">
                    <h5 class="card-header">
                        <% if (auth){ %>
                            <a href="/users/groups?groupname=<%= group.name %>&groupdescription=<%= group.description %>&groupaccess=<%= group.access %>&imageurl=<%= group.imageurl %>&touser=<%= touser %>"><%= group.name %></a>
                        <% } else { %>
                            <a href="#"><%= group.description %></a>
                        <% } %>
                        
                    </h5>
                    <div class="card-body">
                      <h5 class="card-title"><%= group.access %></h5>
                      <a href="/users/groups/partisipants/add?groupname=<%= group.name  %>&groupdescription=<%= group.description  %>&groupaccess=<%= group.access  %>&imageurl=<%= group.imageurl %>&touser=<%= touser %>">Вступить в группу</a>
                      <p>Вы ещё не участник этой группы</p>
                      <!-- <a href="/users/groups/partisipants/delete?groupname=<%= group.name  %>&groupdescription=<%= group.description  %>&groupaccess=<%= group.access  %>&  touser=<%= touser %>">Выйти из группы</a> -->
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div> 
                  </div>
            <% }); %>
        <% } else {%>
            <p>Групп нет</p>    
        <% } %>
        

        <!-- footer -->
        <p class="mt-5 mb-3 text-muted">© {{ new Date().toLocaleDateString() }}</p> 
    </div>
</body>

<script>

</script>
</html>